@font-face {
  font-family: sura_names;
  src: url('assets/fonts/sura_names.eot');
  src: url('assets/fonts/sura_names.eot#iefix') format('embedded-opentype'),
    url('assets/fonts/sura_names.ttf') format('truetype'),
    url('assets/fonts/sura_names.woff') format('woff'),
    url('assets/fonts/sura_names.svg#surah_names') format('svg');
  font-weight: 400;
  font-style: normal;
}
